@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/neusharp');

body {
  overflow-x: hidden;
  width: 100%;
}
*{
  scroll-behavior: smooth;
}
p {
  margin-bottom: 0px;
}

.stump {
  margin-left: -73px;
  margin-top: -25px;
  position: absolute;
  width: 81px;

}

.stump2 {
  width: 77px;
  margin-left: -70px;
  margin-top: -23px;
  position: absolute;

}

.socialinkfounder ul{
  padding-left: 0px;
  display: flex;
}
.socialinkfounder svg{
  width: 20px;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-right: 20px;
  color: #fff;
}
.row {
  padding: 0px;
  margin: 0px;
}

.caption-breadcumb h4 {
  margin-top: 90px;
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 38px;
  margin-bottom: 0px;
}

.caption-breadcumb p {
  text-align: center;
  color: #fff;
  font-family: 'poppins';
  font-size: 17px;
  font-weight: 300;
}

.logomvp {
  width: 130px;
}

#breadcumd {
  background-image: url('./bd.jpg');
  height: 230px;
  background-size: cover;
}

.highlights p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 0px;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", serif;

}

::-webkit-scrollbar {
  display: none;
}

.highlights {
  background-color: #2F0F35;

}

ul {
  list-style-type: none;
  margin-bottom: 0px;

}

.socialheader ul {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 0px;
  padding: 8px;


}

.socialheader {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.socialheader ul li {
  margin-left: 22px;
  position: relative;
}

.socialheader ul li svg {
  margin-top: -4px;
  color: #1A1A1A;

}



.centernavitem {
  /* background-color: #58306C; */
  padding: 16px 0px 8px;

  /* clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%); */
  background-image: url('./headerbg.png');

}

.centernavitem ul {
  display: flex;
}

.centernavitem li {
  color: #fff;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  font-size: 20px;
  margin-left: 70px;

}

.centernavitem a {
  color: #fff;
  text-decoration: none;
}

header {
  background-color: #2F0F35;

}

.bottom-text a {
  color: #fff;
}

.modal-content {
  background: transparent;
}

.modal-content video {
  border-radius: 10px;
}

#teampage {
  padding: 30px 20px;
  background-color: #2f0f35;
}

#teampage img {
  /* margin-bottom: 20px; */
  border-radius: 10px;
}

.modal-body {
  padding: 0px;
}

.logo img {
  width: 140px;
  padding: 10px;
  margin: auto;
  display: block;
  margin-top: -40px;
}


.stats {
  text-align: left;
  font-family: "Racing Sans One";
  display: flex;

}

.count1 h2 {
  font-size: 60px;
}

.count2 {
  align-self: center;
}

.count2 h4 {
  font-size: 25px;
  margin-left: 10px;
}

.carousel-caption {
  left: 5% !important;
  right: 10% !important;
}

.readmore {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 50px;
  font-family: 'Poppins', sans-serif;
  float: left;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  transition: color 0.6s ease-in-out;
  z-index: 1;
}

.readmore::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: left 0.8s ease-in-out;
  border-radius: 50px;
  z-index: -1;
}

.readmore:hover::before {
  left: 0;
}

.readmore:hover {
  color: #2F0F35;
}

/* Fix for proper animation layering */
.readmore::before {
  width: 150%;
}

#aboutus {
  background-image: url('./About/bgglow.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px!important ;
}

.carousel-caption {
  bottom: 4%;
}

.carousel-caption h4 {
  font-size: 45px;
  font-family: "Bebas Neue", serif;
  text-align: left;
  width: 70%;
  letter-spacing: 0.8px;
  line-height: 50px;

}


.carousel-indicators-container .active{
  background-color: transparent!important;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.carousel-indicators-container .inactive{
  width: 5px!important;
  border-radius: 10px;
}

.headingfixture h3 {
  font-family: "Racing Sans One";
  color: #fff;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.headingfixture {
  background-color: #58306C;
  background-image: url('./Home/bgline.png');
  padding: 10px
}

.leftpara {
  text-align: left;
}

.rightpara {
  text-align: right;
}

/* footer */
.footerhagtag h3 {
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Bebas Neue", serif;
  text-align: center;
  letter-spacing: 2px;
}

.footerhagtag h6 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Bebas Neue", serif;
  text-align: center;
  letter-spacing: 2px;
  margin-top: -80px;
}

#sponor {
  padding: 40px 160px 40px 40px;
  background-image: url('./partnerbg.jpg');
  background-size: cover;
  height: 320px;
}

.leftsponsorlogo img {
  width: 100px;
}

.sponsorstrip {
  justify-content: space-between;
  display: flex;
}

.leftsponsortext h4 {
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 36px;
}

.leftsponsortext h6 {
  margin-top: 15px;
  color: #e2c15e;
  font-weight: 300;
  font-family: 'poppins';
  font-style: italic;
}

.leftsponsortext p {
  font-size: 14px;
  margin-bottom: 0px;
  width: 60%;
  color: #ffffffb5;
  font-family: 'poppins';
}

#sectinfotter {
  padding: 50px 0px 160px 0px;
  background-image: url('./ilcbg2fotter.png');
  background-color: #37193d;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

}

.sociallinksfooter {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 20px;
}

.sociallinksfooter ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sociallinksfooter li {
  margin: 0 10px;
}

.sociallinksfooter svg {
  color: #fff;
  font-size: 22px;
}

.teamlogofooter img {
  width: 100px;
}

.teamlogofooter {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

.copyright p {
  color: #fff;
  margin-top: 10px;
  font-size: 15px;
  font-family: 'poppins';
  text-align: center;
  font-weight: 300;
}

.implinks ul li {
  color: #fff;
  font-family: 'poppins';
  font-size: 15px;
  font-weight: 400;
}

.implinks {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 20px;
}


.implinks ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.implinks li {
  padding-right: 20px;
  font-weight: 300;
}

/* newhome */
.newscard {
  background-color: #fff;
  border-radius: 15px;
}

.newimg img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

}

.newarticles {
  background-color: #37193d;
  padding: 40px 0px 0px 30px;
}

.news-caption {
  padding: 10PX 20px;
}

.owl-carousel.owl-loaded {
  padding: 0px;
}

.carousel-caption h4 {
  color: #fff;
}

.news-caption p {
  font-size: 14px;
  font-family: 'poppins';
  color: #C49B5A;
  margin-bottom: 0px;
}

.news-caption h5 {
  font-size: 22px;
  line-height: 24px;
  font-family: "Bebas Neue";
  color: #381A3D;
  font-weight: 200;
  margin-top: 10px;
}

.breadcrumb {
  margin-bottom: 0px;
}

.carousel-indicators button {
  border-radius: 10px !important;
}


.carousel-indicators button {
  margin-left: 6px !important;
}

.breadcrumb img {
  width: 100%;
}

.topsectionabout {
  /* background-image: url('./About/wave_line_2 2 (1).png'); */
  background-size: cover;
  padding-top: 20px;
}

.hr {
  width: 100%;
  margin-top: 40px;
  background-color: #ffffff1d;
  height: 1px;
}

.aboutright h4 {
  color: #fff;
  font-family: 'Bebas Neue';
  float: right;
  font-size: 74px;
  margin-left: 20px;
  line-height: 74px;
  margin-top: 20px;
}

.smalltext {
  font-size: 22px;
}

.aboutleft video {
  border-radius: 10px;
  width: 90%;
}

.abouttitle h4 {
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue';

  font-size: 40px;
}

.abouttitle p {
  color: #fff;
  width: 64%;
  margin: auto;
  text-align: center;
  font-weight: 200;
  font-size: 17px;
  font-family: 'poppins';
}

.centerbox img {
  margin: auto;
  display: block;
  width: 70%;
  margin-top: 50px;
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(358deg, #2E1631 15%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  left: 50%;
  text-align: center;
  z-index: 2;
  color: white;
  width: 80%;
}

.carousel-indicators {
  bottom: 50px !important;
}

.carousel-indicators {
  border-radius: 20px;
}

.carousel-indicators button {
  border-radius: 20px !important;

  width: 5px !important;
  height: 5px !important;
  background-color: #fff;
}
.carousel-indicators-container .inactive {
  background-color: #D6D6D6 !important;
  width: 3px;
  height:12px!important;
  border-radius: 20px;
}

.carousel-indicators button {
  margin-top: -10px;
}

.carousel-indicators button .active {
  margin-top: 0px !important;
}

.carousel-indicators button {
  width: 5px !important;
  background-color: #fff !important;
  border: 1px solid #fff;
  height: 5px !important;

}

.banner-buttons {
  left: 5%;
  width: 40px;
  margin-bottom: 40px !important;
}

.owl-prev-btn,
.owl-next-btn {
  margin-right: 10px;
  padding: 5px 10px !important;
}

.textimg {
  width: 300px;
}

.aboutabtract {
  width: 236px;
  margin: auto;
  display: block;
  float: right;
}

.aboutcontent p {
  line-height: 24px;
  color: #fff;
  font-family: 'poppins';
  font-size: 14px;
  width: 90%;
  text-align: justify;
  font-weight: 200;
}

#aboutbox
{

  background-color: #381a3d;
  padding: 0px 70px 30px 70px;
  background-position: bottom;
}
#aboutus {

  background-color: #381a3d;
  padding: 20px 70px 30px 70px;
  background-position: bottom;
}

.teamlogoaboutus {
  padding: 20px 10px;
}

.dividerstadium {
  padding: 20px;
  background: #381b3d;
}

.teamlogoaboutus {
  padding: 30px 140px 60px 140px;
  background-color: #2f0f35;
}

.teamlogoaboutus img {
  width: 114px;
  margin: auto;
  display: block;
}

.title-team h4 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 35px;
  font-family: 'Bebas Neue';
}

.owl-prev-btn,
.owl-next-btn {
  background-color: #FEFEFE !important;
  width: 38px;
  height: 27px;
  display: flex;
  padding: 3px 5px;
  align-items: center;
  justify-content: center;
}

.owl-prev-btn svg,
.owl-next-btn svg {
  color: #000 !important;
}

#boxsquare {
  background-image: url('./About/01-png.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 60px;
  background-color: #2F0F35;
}

.aboutmission p {
  color: #fff;
  font-family: 'poppins';
  font-size: 15px;
  text-align: justify;
  font-weight: 300;

}

.boxsquareimg {
  width: 70%;
  margin: auto;
  display: block;
}

.aboutmission h4 {
  color: #fff;
  font-size: 33px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  margin-bottom: 30px;
}

.separetaboutus {
  margin: 50px 0px;
}

.message img {
  width: 58%;
  margin: auto;
  display: block;
}

#foundermessage {
  padding: 40px 60px;
  background-image: url('./partnerbg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.foundercaption h5 {
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  color: #fff;
  font-size: 42px;
  letter-spacing: 1px;
}
.btn:hover{
  background-color: #fff;
}

.foundercaption p {
  margin-top: 30px;
  color: #fff;
  font-size: 17px;
  font-family: 'poppins';
  width: 86%;
  text-align: justify;
  font-weight: 300;
  line-height: 26px;
}

.foundercaption h6 {
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  color: #fff;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 1px;
}

#photos {
  padding: 30px 20px;
  background-color: #381a40;
}

#photos img {
  margin-bottom: 20px;
  border-radius: 10px;
}

.stadium-banner > .stadium-image {
  width: 100%;
}

.stadium-banner{
  background-color: #37193d;
  padding: 30px 0px 0px 0px;
}




.highlight {
  color: #efa73c;
  font-weight: 500;
}

.logoright {
  margin-top: -21px;
  position: absolute;
  right: 30px;
  width: 136px;
}

.desktopmenu {
  display: block;
}

.Mobilemeni,
.Mobilembox {
  display: none
}

.highlighthastag {
  color: #e2c15e;
  text-transform: uppercase;
}

#centerimg {
  background-color: #381a40;
}

.parallax {
  background-image: url('./About/ground.jpg');
  /* Change to your image */
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.parallax h4 {
  padding: 50px;
  text-align: center;
  font-family: 'Bebas Neue';
  color: #fff;
  font-size: 41px;
  width: 46%;
  text-align: center;
}

.centerbox img {
  border-radius: 10px;
}

.desktop {
  display: block !important;
}

.mobile {
  display: none !important;
}





/* Main container */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4a235a;
  /* Dark purple background */
  padding: 40px;
}

/* Swiper container */
.swiper-container {
  width: 80%;
  max-width: 1000px;
}

/* Slide content */
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .slide-content {
    flex-direction: row;
    text-align: left;
  }
  .banner-buttons{
    top: 54%!important;
  }
 
}

/* Text Section */
.text-section {
  flex: 1;
  color: #4a235a;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #888;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #222;
}

.description {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

/* Image Section */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder-image {
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}


.btn-primary {
  background: #fff;
  border: 0px;
  width: 38px;
  height: 27px;
}


.custom-nav button {
  line-height: 0px;
}

.custom-nav svg {
  color: #000;
  line-height: 0px
}

.centerfixturecard {
  padding: 10px 15px 0px 15px;
}


.nav-buttons {
  display: flex;
  gap: 2px;
  margin-top: -40px;
  justify-content: flex-end;
}

.nav-buttons button {
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.container-fluid {
  padding: 0px;
}

.nav-buttons {
  display: flex;
  gap: 2px;
  /* Adds spacing between buttons */
}


.nav-buttons {
  position: absolute;
  margin-top: -74px;
  float: right;
  right: 34px;
}



.nav-buttons button {
  background-color: #FEFEFE;
  width: 38px;
  height: 27px;
  display: flex;
  padding: 3px 5px;
  align-items: center;
  justify-content: center;
}

.nav-buttons button svg {
  color: #381A3D;
}


.fixturecard {
  background-color: #562D5B;
  /* BORDER: 1PX SOLID #8F47B2; */
  background-image: url('./fixcard.png');
  padding: 10px 0px 0px 0px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

#teamshome {
  background-color: #381A3D;
  padding: 60px 140px 60px 140px;
}

.teamslogohome img {
  width: 114px;
  margin: auto;
  display: block;
}

#fixture {
  background-color: #2E1631;
  background-image: url('./fixturebg.png');
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0px 40px 30px;
}

.about-stadium{
  width:100%;
}
.titlefixture p {
  color: #fff;
  font-family: 'poppins';
  font-size: 12px;
  text-align: center;

}

.titlefixture h4 {
  color: #fff;
  font-family: 'poppins';
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  font-weight: 400;
  line-height: 16px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.match p {
  font-weight: 300;
  color: #fff;
  font-size: 12px;
  font-family: 'poppins';
  text-align: center;
}

.score h5 {
  margin-top: 20px;
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 22px;
  text-align: center;
}

.score p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-family: 'poppins';
  font-weight: 400;
}

.vs {
  margin-top: 15px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue';
}

.leftfixture img {
  width: 80px !important;
  margin: auto;
  display: block;
  font-weight: 300;
}

.match button {

  border: 2px solid #B0813E;
  margin-top: 20px;
  font-size: 13px !important;
  padding: 5px 12px;
  font-family: 'Poppins';
  border-radius: 20px;
  text-align: center;
  margin: 10px auto 0px auto;
  display: block;
  color: #fff;
  background: #764B05;

}

.titleweb h2 {
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue';
  margin-bottom: 40px;
  font-size:40px !important;

}

.owl-dots {
  margin-top: 40px !important;
}


.owl-dots .active span {
  width: 16px !important;
  background-color: transparent !important;
  border: 1px solid #fff;
  height: 16px !important;
}


.owl-dots span {
  width: 5px !important;
  height: 5px !important;
  margin-top: -15px !important;
  background-color: #969696 !important;
}


/* Fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Box inside box effect */
.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inner-box {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 10px;
}

.implinks a {
  color: #fff;
}

.founder-image img {
  border-radius: 8px;
}

#video {
  background-color: #37193d;
  padding:40px 0px 40px 30px;
}

.image-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 280px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Adjust percentage for gradient height */
  background: linear-gradient(to top, #562D5B, rgb(201 28 28 / 0%));
}

.bottom-text {
  position: absolute;
  bottom: 20px;
  left: 59%;
  transform: translateX(-50%);
  color: white;
  width: 100%;
  font-size: 27px;
  font-family: 'Bebas Neue';
}

.arrowbg {
  background-image: url('./Background.png');
  background-size: cover;
  background-color: #321837;
}

#bg-white {
  background-color: #fff;
  padding: 50px 100px;
}

.partnertitle h4 {
  color: #47254D;
  font-size: 40px;
  text-align: center;
  font-family: 'Bebas Neue';
}



.partnertitle p {
  margin-bottom: 50px !important;
  color: #47254D;
  font-size: 15px;
  margin: auto;
  font-weight: 500;
  text-align: center;
  font-family: 'poppins';
  width: 50%;
}

.partnertitle h5 {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 40px;
  margin-bottom: 40px;
  color: #47254D;
  margin-top: 40px;
}

.separator img {
  margin: auto;
  display: block;
  margin-top: 30px;
  width: 44%;
}

.partentitle h3 {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 15px;
  color: #2E1631;
  text-align: center;
}

.partentitle img {
  margin: auto;
  width: 100px;
  display: block;
}

.footerfixture p {
  color: #fff;
  font-family: 'Poppins';
  font-size: 12px;
}

header .container-fluid {
  padding: 0px;
}

.footerfixture {
  padding: 10px;
  background: #764B05;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 600px) {

  .owl-item{
    width: 380px;
  }

  #video{
    padding:25px 15px 25px 15px!important;
  }

  .partnertitle h4, .partnertitle h5 {
    font-size: 30px;
  }
  .titleweb-stadium{
    margin-left: 3%;
  }
  .teamslogo-css{
    margin-left: -7%;
    margin-right: -6%;
  }
  .abouttitle p {
    font-size: 11px;
    width: 100%;
  }

  .aboutabtract {
    margin: 20px auto;
    float: initial;
  }

  .centerbox img {
    width: 90%;
  }

  .centerbox img {
    margin-top: 20px;
  }

  .teamlogoaboutus img {
    width: 85px;
  }

  

  .image-container {
    height: 220px;
    border-radius: 15px;
  }

  .news-caption h5 {
    font-size: 18px;
    line-height: 22px;
  }

  .news-caption {
    padding: 10px;
  }

  #bg-white {
    padding: 20px 15px;
  }

  .partnertitle p {
    font-size: 22px;
  }

  .partnertitle p {
    width: 95%;
    margin-bottom:20px!important;
  }

  .partentitle img {
    width: 85px;
    border-radius: 10px;
  }


  .partentitle h3 {
    margin-bottom: 10px;
  }

  .partnertitle p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .partentitle h3 {

    font-size: 17px;
  }

  .partnertitle h5 {
    margin: 20px 0px;
  }
}


@media only screen and (max-width: 600px) {
  .desktopmenu {
    display: none !important;
  }
  .separator img{
    margin-top: 10px;
    width: 86%;
  }
  #teamshome{
    padding: 30px 15px 30px 15px!important;
  }
  .teamslogohome img{
    width: 90px!important;
    margin-bottom: 15px!important;
  }
  .nav-buttons button{
    width: 38px !important;
    height: 30px !important;
    padding: 4px 3px !important;
    border-radius: 6px;
}
  .nav-buttons{
    right: 6px!important;
  }
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
    width: 100%;
  }

  .match button {
    font-size: 10px !important;
  }

  .footerfixture p {
    font-size: 10px !important;
  }

  header .container-fluid {
    padding: 0px;
  }

  .Mobilembox {
    display: block;
  }

  .socialheader ul li {
    margin-left: 10px;
  }

  .Mobilemeni {
    display: block;
  }

  body {
    overflow-x: hidden;
  }

  .newscard {
    margin-bottom: 20px;
  }

  .centernavitem ul {
    display: none;
  }

  .highlights p {
    font-size: 11px;
    padding: 8px 0px;
  }

  .footerhagtag h3 {
    font-size: 40px;
  }

  #sectinfotter {
    padding: 20px 10px;
  }

  .copyright p {
    font-size: 11px;
  }

  .teamlogofooter {
    width: 100%;
  }

  .implinks ul {
    padding-left: 0px;
  }

  .teamlogofooter {
    margin-top: 15px;
  }

  .title-team h4 {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .teamlogoaboutus img {
    margin-bottom: 20px;
  }

  .bannerwidth {
    height: 40vh;
    z-index: 0px;

  }

  .carousel-caption h4 {
    width: 100%;
    font-size: 22px;
    line-height: 26px;

  }
  .owl-prev-btn, .owl-next-btn {
    background-color: #FEFEFE !important;
    width: 22px;
    height: 17px;
    display: flex;
    padding: 3px 5px !important;
    align-items: center;
    justify-content: center;
}

  .titleweb h2 {
    margin-bottom: 20px !important;
    font-size: 26px !important;
    letter-spacing: 2px;
  }

  #fixture {
    padding: 25px 15px !important;
  }

  .readmore {
    padding: 8px 11px;
    font-size: 11px;
    margin-top: 10px;
  }

  .carousel-caption {
    bottom: 4%;
  }

  #aboutbox
   {
    padding: 20px 10px;
    float: initial;
  }

  #aboutus{
    padding: 20px 16px;
    
  }
  .foundercaption h5{
    text-align: center;
    font-size: 22px;
  }
  .foundercaption h6{
    font-size: 18px;
  }
  .foundercaption p{
    margin-top: 10px;
  }
  .aboutleft video {
    width: 100%;
  }

  .aboutcontent p {
    width: 100%;
  }
  .foundercaption{
    width: 100%;
  }
  .aboutright h4 {
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 37px;
    margin-left: 20px;
    line-height: 38px;
    margin-top: 20px;
  }

  .aboutright {
    margin-top: 20px;
  }

  .aboutright h4 {
    margin-left: 0px;
    float: left;
  }

  .textimg {
    width: 120px;
  }

  .hr {
    margin-top: 15px;
  }

  #boxsquare {
    padding: 20px 15px;
  }

  #foundermessage {
    padding:40px 15px;
  }

  .foundercaption p {
    width: 100%;
    font-size: 14px;
  }

  .message img {
    width: 95%;
    margin: auto;
    display: block;
  }

  .aboutmission h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  #breadcumd {
    height: 121px;
  }

  .caption-breadcumb h4 {
    margin-top: 32px;
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
  }

  .caption-breadcumb p {

    text-align: left;
    margin-left: 20px;
  }

  .caption-breadcumb p {
    font-size: 12px;
  }

  .bg-humburger {
    background-color: #381a40;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100vh;
  }

  .bg-humburger ul li {
    text-align: center;
    margin-bottom: 15px;
  }

  .bg-humburger ul li a {
    color: #fff;
    font-family: "Bebas Neue", serif;
    font-size: 30px;
  }

  .bg-humburger ul {
    padding-left: 0px !important;
    margin-top: 30px;
  }

  .Mobilemeni {
    display: flex;
    padding: 10px 20px;
    background-color: #381a40;
    justify-content: space-between;
  }

  .Mobilemeni img {
    width: 80px;
  }

  .Mobilemeni button {
    border: 0px;
    background: transparent;

  }

  .topsectionabout {
    padding-top: 0px;
  }

  #photos {
    padding: 20px 8px;
  }
  .titleweb span{
    margin-left: 30px;
  }

  .stump,.stump2{
    margin-left: -6px;
    margin-top: -12px;
    position: absolute;
    width: 41px;
  }
  .nav-buttons{
    margin-top: -55px;
  }
  .carousel-indicators-container{
    display: none!important;
  }
  .owl-dots {
    margin-top: 18px!important;
  }
  .titleweb h2{
    text-align: left;
  }
  .title-team h4{
    text-align: left;
  }
  .teamlogoaboutus {
    padding: 20px 10px;
  }
  .banner-buttons {
    top: 43%!important;
  }

  .newarticles
 {
    padding: 25px 0px 0px 15px;
  }
  
.foundercaption h6 {
  text-align: center;
}
}